/* ************ BACKGROUND ***************/
.bg-night-grey-3 {
    background-color: #352F44;
}

.bg-night-grey-2 {
    background-color: #5C5470;
}

.bg-night-grey-1 {
    background-color: #B9B4C7;
}

.bg-cream-white-1 {
    background-color: #FAF0E6;
}

/* ************** COLOR **************** */
.color-cream-white-1 {
    background-color: #FAF0E6;
}

/* ************* FONT-FAMILY *************** */

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif
}

/* ************** TEXT **************** */

.text-center {
    text-align: center;
}

.text-decoration-ul {
    text-decoration: underline;
}

.text-decoration {
    text-decoration: none;
}

.text-xs {
    font-size: smaller;
}

.text-s {
    font-size: smaller;
}

.text-m {
    font-size: medium;
}

.text-l {
    font-size: large;
}

.text-xl {
    font-size: larger;
}

.text-xxl {
    font-size: x-large;
}

/* ************** HEADER ************** */
.heading-s {
    font-size: 1.25rem;
}

.heading-m {
    font-size: 1.50rem;
}

.heading-l {
    font-size: 1.75rem;
}

.heading-xl {
    font-size: 2rem;
}

/************ BUTTONS **************/

.btn {
    padding: 0.8rem 3rem;
    border-radius: 5px;
}

.btn-dark {
    background-color: #5C5470;
    border: 0.5px solid #5C5470;
    color: #fff;
}

.btn-dark:hover {
    background-color: #fff;
    color: #5C5470;
    border: 0.5px solid #5C5470;
    transition: all 0.2s ease-in;
}

.btn-block {
    width: 100%;
    text-align: center;
}

/* ************** FORMS ***************** */

.form-groups {
    padding: 0.25rem 0;
}

.form-groups label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    font-family: 'Montserrat';
    resize: none;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.form-control:focus {
   outline: none;
}
/* ************** CONTAINER ************** */

.container {
    max-width: 1100px;
    margin: 0 auto;
}