* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    color:#FFFBF5;
    text-decoration: none;
}
/* ******** NAVBAR ***********/
#navbar {
    color:#FFFBF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

#navbar ul li {
    text-align: center;

}

#navbar ul li a{
    text-decoration: none;
    padding: 0.50rem;
}

#navbar ul li a:hover {
    background-color: #5C5470;
}

/* ********** HOME SECTION ************* */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2{
    margin-bottom: 0.75rem;
}

#home .name p{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
}

#home a {
    margin-top: 1.25rem;
}

/* #home a:hover {
    background-color: #fff;
    color: #5C5470;
    border: 0.5px solid #5C5470;
    transition: all 0.2s ease-in;
} */